header {
    background-image: url(hero-image-purple.jpg);
}

#art-article{
    background-image: url('hero-image-modified.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height: 80%;
}
#fixed{
  height: 50%;
}
.title-2{
    background-color: #1A1A1A;
}
#paragraph-2{
    background-color: #1A1A1A;
}
.button-contact {
  top: 95%;
  left: 20px;
}
.réseaux img{
    object-fit: contain;
    height: 75px;
    width: 75px;
    }


.réseaux div{
    display: inline-block;
    padding: 10px;
    padding-left: 20px;
    margin-top: 45px;
    position: flex;
    bottom: 25px;
}
.réseaux a{
  background-color: #ffffff00;
}
#logo {
    display: flex;
    flex-direction: column;
}

.button-wow {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
    padding: 10px;
  }
  
  .button-wow:disabled {
    pointer-events: none;
  }
  
  .button-wow:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .button-wow:active {
    box-shadow: none;
    transform: translateY(0);
  }